[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-environ = "*"
celery = "*"
redis = "*"
django-debug-toolbar = "*"
django-extensions = "*"
pytest = "*"
django-pytest = "*"
factory-boy = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python manage.py runserver"
